[Unit]
Description=Monitor a target and reset PoE port modes on a Unifi switch.
After=network.target
StartLimitIntervalSec=60

[Service]
Type=simple
Restart=always
RestartSec=60
ExecStart=/usr/local/bin/homey-watchdog.py -c /usr/local/etc/homey-watchdog.conf

[Install]
WantedBy=default.target
